.page {
  justify-content: space-between;
}

.mainWindow {
  width: 1000px;
  color: white;
}

.testsPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: "center";
  width: "25vw";
}

.testContent {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  color: gray;
}

.rightBar {
  top: 0px;
  width: calc((100vw - 800px) * 0.55);
  border-left: 1px solid rgb(255, 255, 255);
  color: black;
  height: 100vh;
}

.feedTests {
  max-width: 100%;
  padding: 20px;
  color: white;
  justify-content: space-between;
  display: flex;
}

.educatorName {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

.passingGrade {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.interactions {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  gap: 150px;
}

.interactionLink {
  color: #3f3f3f;
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  border-radius: 1000px;
}

.interactionLink:hover {
  cursor: pointer;
  background-color: #1da0f20b;
}
