.page {
    display: flex;
    justify-content: space-between;
}

.mainWindow {
    width: 800px;
    color: white
}

.testContent{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    color: gray;
}

.rightBar {
    top: 0px;
    width: calc((100vw - 1200px) * 0.55);
    border-left: 1px solid rgb(255, 255, 255);
    color: black;
    height: 100vh;
}

.feedTests {
    max-width: 100%;
    border-bottom: 1px solid rgb(63, 63, 63);
    padding: 20px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.completeTest {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    width:89%;
    gap:10px;
}

.accWhen {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}