.courseContentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.courseCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 85%;
  height: 100%;
  background-color: white;
  margin: auto;
}

.courseCardButton {
  background-color: rgba(0, 139, 139, 0.9);
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

.courseDetails {
  position: absolute;
  border: 1px solid black;
  z-index: 9999;
  width: 80%;
  height: 80%;
  background-color: white;
}

.closeCourseDetails {
  width: 20%;
  height: 20%;
  border: 1px solid black;
  background-color: black;
}
