.courseContentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.courseCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 85%;
  height: 100%;
  background-color: white;
  margin: auto;
}

.courseCardButton {
  background-color: rgba(0, 139, 139, 0.9);
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

.courseDetails {
  position: absolute;
  border-radius: 20px;
  border: 1px solid black;
  z-index: 9999;
  width: 55%;
  height: 70%;
  left: 300px;
  top: 120px;
  background-color: rgb(246, 245, 245);
}

.courseDetailsName {
  text-align: center;
  font-size: 70px;
}

.courseDetailsDescription {
  font-size: 15px;
}

.courseDetailsDetails {
}

.courseDetailsButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 30px;
  grid-gap: 20px;
}
